.container {
	// width: 1200px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header__container {
	display: flex;
	align-items: center;
}

.footer__container {
	display: flex;
	align-items: baseline;
}
