.join {
	margin-bottom: 60px;
	@media screen and (min-width: 768px) {
		margin-bottom: 0;
	}
}

.join__name {
	display: block;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--just-white-color);

	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}

.join__list {
	display: flex;
	list-style-type: none;

	@media screen and (max-width: 1199px) {
		justify-content: center;
	}
}

.join__item:not(:last-child) {
	margin-right: 10px;
}

.join__social-link {
	@extend %flex-center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	fill: var(--join-icon-color);
	background-color: var(--join-primary-icon-bgcolor);
	transition: background-color 250ms var(--cubic);

	&:hover,
	&:focus {
		background-color: var(--join-accent-icon-bgcolor);
		outline: none;
	}
}
