.logo {
	display: block;

	font-family: var(--second-font-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;
	color: var(--main-logo-color);
	text-decoration: none;

	&__right-side--black {
		color: var(--second-logo-color);
	}

	&__right-side--white {
		color: var(--third-logo-color);
	}

	@media screen and (min-width: 1200px) {
		font-size: 26px;
		line-height: 1.19;
	}
}

.footer__logo {
	margin-bottom: 20px;
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}
