.modal-form__name {
	display: block;

	margin-bottom: 12px;

	font-size: 13px;
	line-height: 1.5;
	text-align: center;

	@media screen and (min-width: 480px) {
		font-size: 20px;
	}

	@media screen and (min-width: 1200px) {
		line-height: 1.15;
	}
}

.modal-form {
	width: 210px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 370px;
	}

	@media screen and (min-width: 1200px) {
		width: 448px;
	}
}

.modal-form__group {
	display: flex;
	flex-direction: column;

	margin-bottom: 10px;
}

.modal-form__group--bottom {
	margin-bottom: 20px;
}

.modal-form__label {
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}

.modal-form__input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 11px 11px 11px 42px;

	font-size: 14px;

	transition: border 250ms var(--cubic);

	&:hover,
	&:focus {
		border: 1px solid #2196f3;
		outline: none;
	}

	&:hover + .modal-form__icon,
	&:focus + .modal-form__icon {
		fill: #2196f3;
	}
}

.modal-form__thumb {
	position: relative;
}

.modal-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	transition: fill 250ms var(--cubic);
}

.modal-form__textarea {
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;

	resize: none;

	font-size: 14px;

	transition: border 250ms var(--cubic);

	&:hover,
	&:focus {
		border: 1px solid #2196f3;
		outline: none;
	}

	&::placeholder {
		font-size: 14px;
		line-height: 1.14;

		letter-spacing: 0.01em;
		color: var(--placeholder-text-color);

		@media screen and (min-width: 1200px) {
			font-size: 12px;
			line-height: 1.17;
		}
	}
}

.modal-form__checkbox-group {
	margin-bottom: 30px;
}

.modal-form__checkbox-input {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.modal-form__checkbox-label {
	@extend %flex-center;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);

	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	}
}

.modal-form__custom-icon {
	@extend %flex-center;
	width: 16px;
	height: 15px;
	margin-right: 8px;
	border: 1px solid #000000;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;

	transition: background-color 250ms var(--cubic), border 250ms var(--cubic);

	.modal-form__checkbox-input:checked + .modal-form__checkbox-label & {
		background-color: #2196f3;
		border: transparent;
		box-shadow: none;
	}

	.modal-form__checkbox-input:hover + .modal-form__checkbox-label &,
	.modal-form__checkbox-input:focus + .modal-form__checkbox-label & {
		outline: 2px solid #000000;
	}
}

.modal-form__checkbox-link {
	display: inline;
	color: #2196f3;
}

.modal-form__button {
	@extend %flex-center;

	min-width: 200px;
	margin: auto;
	padding: 10px;

	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--just-white-color);
	background-color: var(--button-second-bg-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	border: none;

	transition: background-color 250ms var(--cubic);

	&:hover,
	&:focus {
		background-color: var(--hero-button-hover-bgcolor);
	}
}
