.footer__subscribe {
	margin-left: auto;
}

.subscribe__name {
	display: block;
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--just-white-color);
}

.subscribe__form {
	display: flex;
}

.subscribe__input {
	width: 358px;
	padding: 14px 16px;
	margin-right: 12px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;

	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	background-color: transparent;

	transition: border 250ms var(--cubic), box-shadow 250ms var(--cubic);

	&:hover,
	&:focus {
		border: 1px solid #2196f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		outline: none;
	}
}

.subscribe__button {
	@extend %flex-center;

	min-width: 200px;
	padding: 10px;

	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--just-white-color);
	background: #2196f3;
	border-radius: 4px;
	cursor: pointer;
	border: none;

	transition: box-shadow 250ms var(--cubic);

	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

.subscribe__icon {
	margin-left: 10px;
}
