:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-text-color: #2196f3;
	--button-first-text-color: #212121;
	--button-second-text-color: #fff;
	--button-first-bg-color: #f5f4fa;
	--button-second-bg-color: #2196f3;
	--primary-background-color: #fff;
	--second-background-color: #2f303a;
	--third-background-color: #f5f4fa;
	--footer-link-color: rgba(255, 255, 255, 0.6);
	--just-white-color: #fff;
	--main-logo-color: #2196f3;
	--second-logo-color: #000;
	--third-logo-color: #fff;
	--hero-button-hover-bgcolor: #188ce8;
	--work-content-border-color: #eee;
	--header-border-color: #ececec;
	--features-icon-bgcolor: #f5f4fa;
	--members-primary-icon-color: #afb1b8;
	--members-accent-icon-color: #fff;
	--members-accent-icon-bgcolor: #2196f3;
	--clients-primary-icon-color: #afb1b8;
	--clients-accent-icon-color: #2196f3;
	--join-icon-color: #fff;
	--join-primary-icon-bgcolor: rgba(255, 255, 255, 0.1);
	--join-accent-icon-bgcolor: #2196f3;
	--backdrop-color: rgba(0, 0, 0, 0.2);
	--placeholder-text-color: rgba(117, 117, 117, 0.5);
	--cubic: cubic-bezier(0.4, 0, 0.2, 1);
	--main-font-family: Roboto, sans-serif;
	--second-font-family: Raleway, sans-serif;
}
